{% extends 'base.html' %}
{% block content %}

<div>
    <h1>Learning Today, Leading Tomorrow</h1>
    {% comment %} <img src="https://i.imgur.com/4NcVXw9.jpg"> {% endcomment %}

</div>
<hr />

    <container class="unitsContiner">
        <div class="card units">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://i.imgur.com/3qElX0B.png">
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">Unit 1 Front-End Development</span>
                <p><a href="{%url 'unit1'%}">Take me there</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Unit 1 Front-End Development<i class="material-icons right">close</i></span>
                <p>Discover what it takes to build the web you want to see through hands-on training in the essentials of front-end development. Explore core programming concepts that are applicable in any language, and find out what day-to-day life as a professional engineer is like.</p>
            </div>
        </div>

        <div class="card units">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://i.imgur.com/2jtFlny.png">
        </div>
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">Unit 2 Full-Stack Development</span>
            <p><a href="{%url 'unit2'%}">Take me there</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Unit 2 Full-Stack Development<i class="material-icons right">close</i></span>
            <p>Learn to build full-stack web applications, deepening your knowledge of client-facing and server-side development. Expand your repertoire of programming languages and start coding collaboratively. Get familiar with key computer science concepts to become a more efficient programmer and perform confidently in technical interviews.</p>
        </div>
        </div>
    </container>


    <container class="unitsContiner">
        <div class="card units">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://i.imgur.com/gvh4VgL.png">
        </div>
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">Unit 3 Front-End Frameworks</span>
            <p><a href="{%url 'unit3'%}">Take me there</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Unit 3 Front-End Frameworks<i class="material-icons right">close</i></span>
            <p>Gain expertise with the modern software engineering tools and frameworks you’ll use on the job. Continue to hone your computer science knowledge by further exploring data structures. Get creative, building a full-stack application using technology you choose.</p>
        </div>
        </div>

        <div class="card units">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://i.imgur.com/VCwNpTA.png  ">
        </div>
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">Unit 4 APIs and Full-Stack Development</span>
            <p><a href="{%url 'unit4'%}">Take me there</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Unit 4 APIs and Full-Stack Development<i class="material-icons right">close</i></span>
            <p>Hone your programming skills by learning to build full-stack applications that leverage the capabilities of third-party APIs. Through pair programming and group collaboration, you’ll gain hands-on experience executing a real-world workflow. Dive deeper into algorithms and data structures.</p>
        </div>
        </div>
    </container>
    

{% endblock %}