{% extends 'base.html' %}
{% block content %}

<h1>Learning Today, Leading Tomorrow</h1>
<hr />
<p>View My Deliverables</p>

        <div class="card  darken-1 units">
            <a href="{%url 'unit1'%}">
                <div class="card-content" >
                <span class="card-title">Unit 1</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
            </a>
        </div>

        <div class="card  darken-1 units">
            <a href="{%url 'unit2'%}">
                <div class="card-content" >
                <span class="card-title">Unit 2</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
            </a>
        </div>

 
        <div class="card  darken-1 units">
            <a href="{%url 'unit3'%}">
                <div class="card-content" >
                <span class="card-title">Unit 3</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
            </a>
        </div>


        <div class="card  darken-1 units">
            <a href="{%url 'unit4'%}">
                <div class="card-content" >
                <span class="card-title">Unit 4</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
            </a>
        </div>


{% endblock %}