{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h2>Unit3:</h2>
    <div class="col s6">
        <h3>Data</h3>
        <div class="card">
          <div class="card-content">
            <ul>
              <p>Unit 3 Feedback</p>
            {% comment %} {% for unit1 in unit1 %} {% endcomment %}
              <li>Positive Comments: {{unit3_pos}}</li>
              <li>Negative Comments: {{unit3_neg}}</li>
            {% comment %} {% endfor %} {% endcomment %}
            </ul>
  
          </div>
        </div>
  
    </div>
  
    <div class="col s6">
        <h3>Chart</h3>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ['Positive', 'Negative'],
              datasets: [{
                label: '# of Feedbacks',
                data: ['{{unit3_pos}}', '{{unit3_neg}}'],
                backgroundColor:[
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                  ],
  
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          
        </script>
    </div>
  </div>  
  
{% endblock %}