{% extends 'base.html' %}
{% block content %}

<h1>Deliverable Feedback analyzer</h1>
<div class="collection">
  <a href="{%url 'analyzer_unit1'%}" class="collection-item"><span class="new badge blue" data-badge-caption="total submissions">{{unit1}}</span>Unit1</a>
  <a href="{%url 'analyzer_unit2'%}" class="collection-item"><span class="new badge blue" data-badge-caption="total submissions">{{unit2}}</span>Unit2</a>
  <a href="{%url 'analyzer_unit3'%}" class="collection-item"><span class="new badge blue" data-badge-caption="total submissions">{{unit3}}</span>Unit3</a>
  <a href="{%url 'analyzer_unit4'%}" class="collection-item"><span class="new badge blue" data-badge-caption="total submissions">{{unit4}}</span>Unit4</a>
</div>

{% endblock %}