{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h2>Unit4:</h2>
    <div class="col s6">
        <h3>Data</h3>
        <div class="card">
          <div class="card-content">
            <ul>
              <p>Unit 4 Feedback</p>
            {% comment %} {% for unit1 in unit1 %} {% endcomment %}
              <li>Positive Comments: {{unit4_pos}}</li>
              <li>Negative Comments: {{unit4_neg}}</li>
              <li>Natural Comments: {{unit4_nat}}</li>
            {% comment %} {% endfor %} {% endcomment %}
            </ul>



            <ul>
              <p>Github Repositories:</p>
             {% for del in unit4 %}
              <li><a href="{{del.githubrepo}}" target="_blank">{{del.githubrepo}}</a></li>
             {% endfor %}
            </ul>
  
          </div>
        </div>
  
    </div>
  
    <div class="col s6">
        <h3>Chart</h3>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'polarArea',
            data: {
              labels: ['Positive', 'Negative', 'Neutral'],
              datasets: [{
                label: '# of Feedbacks',
                data: ['{{unit4_pos}}', '{{unit4_neg}}', '{{unit4_nat}}' ],
                backgroundColor:[
                  'rgb(255, 99, 132)',
                  'rgb(75, 192, 192)',
                  'rgba(255, 206, 86, 1)',
                  ],
  
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          
        </script>
    </div>
  </div>  
  
{% endblock %}