{% extends 'base.html' %}
{% block content %}


<div class="row">
    <h2>Unit1:</h2>
    <div class="col s6">
        <h3>Data</h3>
        <div class="card">
          <div class="card-content">
            <ul>
              <p>Unit 1 Feedback</p>
              <li>Positive Comments: {{unit1_pos}}</li>
              <li>Negative Comments: {{unit1_neg}}</li>
              <li>Neutral Comments: {{unit1_nat}}</li>
            </ul>


            <ul>
              <p>Github Repositories:</p>
             {% for del in unit1 %}
              <li><a href="{{del.githubrepo}}" target="_blank">{{del.githubrepo}}</a></li>
             {% endfor %}
            </ul>
  
          </div>
        </div>
  
    </div>
  
    <div class="col s6">
        <h3>Chart</h3>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Positive', 'Negative', 'Neutral'],
              datasets: [{
                label: '# of Feedbacks',
                data: ['{{unit1_pos}}', '{{unit1_neg}}', '{{unit1_nat}}'],
                backgroundColor:[
                  'rgba(54, 162, 135, 0.3)',
                  'rgb(255, 99, 132, 0.3)',
                  'rgba(255, 206, 86, 0.3)',
                  ],

                  borderColor: [
                  'rgba(54, 162, 135)',
                  'rgb(255, 99, 132)',
                  'rgba(255, 206, 86, 1',
                ],
  
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          
        </script>
    </div>
  </div>  
  
  {% endblock %}