{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h2>Unit2:</h2>
    <div class="col s6">
        <h3>Data</h3>
        <div class="card">
          <div class="card-content">
            <ul>
              <p>Unit 2 Feedback</p>
            {% comment %} {% for unit1 in unit1 %} {% endcomment %}
              <li>Positive Comments: {{unit2_pos}}</li>
              <li>Negative Comments: {{unit2_neg}}</li>
              <li>Neutral Comments: {{unit2_nat}}</li>
            {% comment %} {% endfor %} {% endcomment %}
            </ul>


            <ul>
              <p>Github Repositories:</p>
             {% for del in unit2 %}
              <li><a href="{{del.githubrepo}}" target="_blank">{{del.githubrepo}}</li>
             {% endfor %}
            </ul>

  
          </div>
        </div>
  
    </div>
  
    <div class="col s6">
        <h3>Chart</h3>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const ctx = document.getElementById('myChart');
        
          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ['Positive', 'Negative', 'Neutral'],
              datasets: [{
                label: '# of Feedbacks',
                data: ['{{unit2_pos}}', '{{unit2_neg}}', '{{unit2_nat}}'],
                backgroundColor:[
                  'rgba(54, 162, 135, 1)',
                  'rgb(246, 32, 29, 1)',
                  'rgba(255, 206, 86, 1)',
                  ],
  
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          
        </script>
    </div>
  </div>  
  
{% endblock %}