{% extends 'base.html' %}

{% block content %}
<div class="unit1">
    <h1>Unit 4</h1>
    <a href="/"><img src="https://i.imgur.com/ybXNAU6.png" class="iconAdd" /></a>
</div>
<hr />
<div class="row">
    <div class="col s6">
        <h3>Content</h3>
    </div>

    <div class="col s6">
        <h3>My Submitted Deliverables</h3>
        {% for del in deliverables %}
        <div class="card">
            <div class="card-content">
            <span class="card-title">{{ del.hmwname }}</span>
            <p>Unit: {{ del.units }}</p>
            <p>comments: {{ del.comments }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    
</div>

{% endblock %}